<!DOCTYPE html> <!-- TEMPLATE -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <meta charset="UTF-8">
    <meta name="description" content="Login">
    <meta name="keywords" content="HTML, CSS, Login">
    <meta name="author" content="Bug Busters">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<section th:insert="parts/header.html :: header"></section>

<main>
    <div th:if="${errorMessage}"
         style="background-color: #f8d7da; color: #721c24; padding: 10px; margin-bottom: 15px; border: 1px solid #f5c6cb; border-radius: 5px;"
         th:text="${errorMessage}">
    </div>
        <div class="form-container">
            <form action="/login" method="post">
                <label>E-mail:</label><br>
                <input type="email" name="email" required><br><br>

                <label>Adgangskode:</label><br>
                <input type="password" name="password" required><br><br>

                <button type="submit">Log ind</button>
            </form>
            <button onclick="window.location.href='/registerUser'" class="back-button" style="margin-top: 10px;">Opret ny bruger</button>
        </div>
    <section th:insert="parts/footer.html :: footer"></section>
</main>
</body>

</html>