<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Homepage</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <meta charset="UTF-8">
    <meta name="description" content="Homepage">
    <meta name="keywords" content="HTML, CSS, Cards, MtG">
    <meta name="author" content="Bug Busters">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

    <!-- TEST WITH TEXT -->

<body>
    <section th:insert="parts/header.html :: header"></section>
        <main>
            <section>
                <div th:if="${events.isEmpty()}">
                    <p>Der er i øjeblikket ingen planlagte events.</p>
                </div>
                <form>
                    <table border="1" th:unless="${events.isEmpty()}" class="event-table">
                        <thead>
                        <tr>
                            <th>Event Navn</th>
                            <th>Dato</th>
                            <th>Format</th>
                            <th>Beskrivelse</th>
                            <th>Status</th>
                            <th>Størrelse</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="event : ${events}">
                            <td th:text="${event.eventName}"></td>
                            <td th:text="${event.eventDate}"></td>
                            <td th:text="${event.eventFormat}"></td>
                            <td th:text="${event.eventDescription}"></td>
                            <td th:text="${event.eventStatus}"></td>
                            <td th:text="${event.eventSize}"></td>
                            <td>
                                <a th:href="@{/events/{id}(id=${event.eventID})}">Se mere & Tilmeld dig Eventet!!!</a>                            </td>
                        </tr>
                        </tbody>
                    </table>
                </form>
            </section>
        </main>
    <section th:insert="parts/footer.html :: footer"></section>
</body>
</html>
