<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- Insert fragment header at the top of every html page -->
<!-- <section th:insert="parts/header.html :: header"></section> -->

<body>
    <section th:fragment="header">
        <header class="website-header"> <!-- Naming for css styling -->
            <div class="container"> <!-- Container for header content, for css styling -->
                <h1>♛ Deck Forge ♛</h1>

                <!-- POSSIBLE <nav class="website-navigation"> -->
                <nav>
                    <a href="/">Forside</a>

                    <th:block th:if="${session.loggedInUser == null}">
                        <a href="/login">Login</a>
                        <a href="/registerUser">Register</a>
                    </th:block>

                    <th:block th:if="${session.loggedInUser != null}">
                        <a href="/profile">Profil</a>
              <!--      <a href="/registerEvent">Event</a> -->
                        <a href="/collectionPage">Collections</a>

                        <form th:action="@{/logout}" method="post" style="display: inline;">
                            <button type="submit" style="background-color: red; width: 80px;color: white; border: none; padding: 5px 10px; cursor: pointer;">Logout</button>
                        </form>
                    </th:block>

                    <th:block th:if="${session.loggedInUser != null and session.loggedInUser.userRole.name() == 'ADMIN'}">
                        <a href="/addCard">Tilføj Kort</a>
                        <a href="/createFormat">Tilføj Format</a>
                    </th:block>
                    <th:block th:if="${session.loggedInUser != null and session.loggedInUser.userRole.name() == 'ORGANIZER'}">
                        <a href="/registerEvent">Tilføj Event</a>
                    </th:block>
                </nav>
            </div>
        </header>
    </section>
</body>
</html>