<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- Insert fragment header at the top of every html page -->
<!-- <section th:insert="parts/header.html :: header"></section> -->

<body>
    <section th:fragment="header">
        <header th:fragment="header">
            <nav>
                <a th:href="@{/}">Forside</a>
                <a th:href="@{/events}">Events</a>
                <a th:href="@{/my-decks}">Mine Decks</a>
                <a th:href="@{/collectionPage}">Samling</a>
                <a th:href="@{/trade-search}">Bytte-Søgning</a>
                <a th:href="@{/profile}">Profil</a>

                <span th:if="${session.loggedInUser == null}">
            <a th:href="@{/login}">Login</a>
        </span>
                <span th:if="${session.loggedInUser != null}">
            <a th:href="@{/logout}">Logout</a>
        </span>
            </nav>
        </header>
    </section>
</body>
</html>